/* Revised Re-upload */
/* css for style that changes for different screen sizes */
body{
    display: flex;
    flex-wrap: wrap;
}
/* break-point  small    phone screen (320-414px wide) */
@media screen and (min-width: 320px) and (max-width: 423px){
    body{
        flex-direction: column;
    }
    .work-tiles{
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .portfolio-header{
        padding: 1.5rem;
        text-align: right;
    }
    .hero-image{
        padding: 1.5rem;
    }
    .recentwork{
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        padding-bottom: 1.5rem;
        padding-top: 0;
    }
}
/* break-point  medium   ipad screen (768-1024px wide) */
@media screen and (min-width: 424px) and (max-width: 894px){
    .work-tiles{
        display: flex;
        flex-wrap: wrap;

    }
    .work-tiles-item{
        flex: 30vw;
        margin-right: 1rem;
        margin-left: 1rem;

    }
}
/* break-point  large    laptop/desktop screen (1024-> px wide)  */
@media screen and (min-width: 895px){
    .work-tiles{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
    .work-tiles-item{
        flex: 15vw;
        margin-right: 1rem;
        margin-left: 1rem;
    }
}
